.product_detail_panel_wrapper {
    margin-bottom: 20px;
}
.product_detail_panel_wrapper .panel_center_containers {
    max-width: 1440px;
    margin: 0 auto;
}
.product_sidebar_colm {
    flex:  0 0 auto;
    width: 240px;
    margin-right: 16px;
}
.product_sidebar_card {
    border: 1px solid #768084;
    padding: 8px;
    border-radius: 16px;
    min-height: 100%;
}

.product_sidebar_card .product_imgbox {
  padding: 8px 8px 16px;
  border-bottom: 1px solid #768084;
}
.product_sidebar_card .product_imgbox .imgs {
    border-radius: 8px;
    object-fit: cover;
    width: 100%;
    height: 172px;
}
.product_sidebar_card .air_textbox {
    padding: 15px 8px;
    text-align: center;
    border-bottom: 1px solid #768084;
    margin-bottom: 15px;
}
.product_sidebar_card .air_textbox .titles {
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   margin-bottom: 4px;
}
.product_sidebar_card .air_textbox p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
}
.product_sidebar_navs {
    margin: 0;
    padding: 0;
    list-style: none;
}
.product_sidebar_navs > li {
    margin-bottom: 15px;
}
.product_sidebar_navs .nav_items {
    display: block;
    text-decoration: none;
    background-color: #37393B;
    color: #ffffff;
    border-radius: 8px;
    text-align: center;
    padding: 14px 39px;
    border: 1px solid #768084;
}
.product_sidebar_navs .nav_items .nav_title {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin: 0px;
}
.product_sidebar_navs .nav_items p {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 0px;
    font-family: "Montserrat", sans-serif;
}
.product_detail_content_colm {
    flex:1;
}
.product_detail_panel_card {
    min-height: 100%;
    border-radius: 16px;
    border: 1px solid #768084;
}
.product_detail_panel_header {
    border-radius: 16px 16px 0 0;
    text-align: center;
    padding: 17px;
    background-color: #37393B;
    border-bottom: 1px solid #768084;

}
.product_detail_panel_header .cards_title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.product_detail_panel_body .contents_boxx {
    padding: 16px;
}

/*product tab css*/
.product_tabs_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #768084;
    overflow-y: clip;
    overflow-x: auto;
}
.product_tabs_list .nav-item {
    flex: 1 0 0;
}
.product_tabs_list .nav-item .nav-link {
    text-align: center;
    background-color: transparent;
    color: #ffffff;
    padding: 21px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    display: block;
    width: 100%;
    min-height: 100%;
    border: none;
}
.product_tabs_list .nav-item .nav-link.active {
    background-color: #ffffff;
    color: #000000;
}
.access_product_listing {
    padding: 16px;
    border-bottom: 1px solid #768084;
}
.access_product_listing:last-child {
    border-bottom: none;
}
.access_product_listing .textbox p {
    margin: 8px 0;
}
.access_product_listing .colm2 {
    text-align: right;
}
.access_product_listing .access_prod_button {
    display: inline-block;
    color: #fff;
    padding: 7px 16px 8px;
    text-decoration: none;
    border: 1px solid #768084;
    border-radius: 2em;
    text-transform: capitalize;
}
/*product tab css*/


/*===== media query css =====*/
@media screen and (max-width:1399px) {
    .product_tabs_list .nav-item .nav-link {
        padding: 18px 10px;
        font-size: 16px;
    }
}
@media screen and (max-width:1199px) {
    .product_tabs_list .nav-item .nav-link {
        padding: 16px 10px;
        font-size: 15px;
        line-height: 20px;
    }
}
@media screen and (max-width:991px) {
    .product_sidebar_colm {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }
    .product_detail_content_colm {
        flex: 0 0 auto;
        width: 100%;
    }
    .product_tabs_list {
        flex-wrap: nowrap;
    }
    .product_tabs_list .nav-item {
        flex: 0 0 auto;
    }
    .product_tabs_list .nav-item .nav-link {
        padding: 10px;
    }
    .product_tabs_list .nav-item .nav-link.active {
        background-color: transparent;
        color: var(--blue_color);
    }
    .product_detail_panel_header {
        padding: 13px;
    }
    .product_detail_panel_header .cards_title {
        font-size: 20px;
        line-height: 28px;
    }
}
@media screen and (max-width:575px) {
    .access_product_listing .colm2 {
        text-align: left;
    }
}
/*===== media query css =====*/